.text-body i{
    margin-left: 45%;
    font-size: 240%;
    color: #077f79;

}
.text-body:hover{
    background: #ea9322;

}
.text-body h6{
    font-weight: bold;

}
.title h2{
   color: #ea9322;
   text-decoration: underline #077f79 ;
}


